.app {

  .battle-params-tab {
    width: 500px;

    .table-stripped {
      border: 1px solid #d7d7d7;
    }

    .table-stripped {

      .tab-title {
        background: #F89406;
        color: #fff;
        padding: 4px 10px;
        font-family: 'OpenSymbol';
        font-weight: bold;
      }

    }
  }


}

.battle {
  width: 500px;
}