.battle-char-params, .battle-params-tab {
  .tab-title {
    background: #ad6506;
    color: #fff;
    padding: 4px 10px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
  }
}


.battle-params-tab {
  font-size: 12px;
  color: #2e3436;
}

.battle-params-tab td {
  padding: 2px 0;
}

.battle-params-tab td > b {
  text-align: center;
}

.battle-params-tab:hover, .battle-char-params:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.69);
}


/*
.battle-char-slots li {
    display: inline-block;
}
*/
.battle-char-slots {
  .char-slots, .char-slot, .char-avator {
    list-style: none;
  }

  .char-slots li {
    display: inline-block;
  }

  .char-slot img {
    width: 40px;
    height: 40px;
    border: 1px solid #d7d7d7;
    -webkit-box-shadow: inset 10px 10px 14px 0px rgba(168,168,168,1);
    -moz-box-shadow: inset 10px 10px 14px 0px rgba(168,168,168,1);
    box-shadow: inset 1px 1px 5px 0px rgba(168,168,168,1);
    opacity: 0.4;
  }

  .char-slot img:hover {
    opacity: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.69);
    -webkit-box-shadow: inset 10px 10px 14px 0px rgba(168,168,168,1);
    -moz-box-shadow: inset 10px 10px 14px 0px rgba(168,168,168,1);
    box-shadow: inset 1px 1px 5px 0px rgba(168,168,168,1);
  }

  .char-slots li {
    display: inline-block;
  }


}

.char-bag {
  .cloth-box {

    .cl-img, .cl-params {
      display: inline-block;
      margin-right: 15px;
      font-size: 11px;
    }

    .cl-img {
      margin: 20px;

      img {
        border: 1px solid #d7d7d7;
        max-width: 40px;
        max-height: 40px;
        -webkit-box-shadow: inset 10px 10px 14px 0 rgba(168,168,168,1);
        -moz-box-shadow: inset 10px 10px 14px 0 rgba(168,168,168,1);
        box-shadow: inset 1px 1px 5px 0 rgba(168,168,168,1);
      }
    }
  }

  .char-item {
    width: 120px;
    border: 1px solid #d7d7d7;
    box-shadow: 0 5px 5px rgba(0,0,0,0.4);

    .char-item-title {
      background: #aa4a24;
      color: #fff;
      padding: 4px 0;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
    }

    .char-item-img {
      padding: 0;
      img {
        max-width: 120px;
        max-height: 120px;
        -webkit-box-shadow: inset 10px 10px 14px 0 rgba(168,168,168,1);
        -moz-box-shadow: inset 10px 10px 14px 0 rgba(168,168,168,1);
        box-shadow: inset 1px 1px 5px 0 rgba(168,168,168,1);
      }
    }

    .char-item-params {
      padding: 8px 15px;
      font-size: 11px;
      color: #2e3436;
    }
  }
}

